.header {
	background-color: #4E342E;

	padding:48px;
}
h1{
	color:white;
	font-size:68px;
	font-family:bold 700;
	text-align:center;
	font-weight: bold;
}
.nav{
	color:#FF5722;
	font-size:28px;
	font-family: sans-serif;
	text-align:center;

}
.adbox{
	background-color: #FF5722;
	padding:108px;
	font-size: 78px;
	font-family: italic;	
}
.kicker{
	color: #4E342E;
	font-family: sans-serif;
	font-size: 28px;
}
.last{
	color: #4E342E;
	font-family: sans-serif;
	font-size: 28px;
	padding:38px;
	background-color:#FF5722; 
}
h2{
	font-size: 30px;
	font-family: bold 700;
	font-weight: bold;
	color:#FF5722;
}
span{
	font-family: sans-serif;
	color: black;
}

img{
	width:90%;
}
p{
	color:#4E342E;
}

.byline{
	color:grey;
	font-family: normal 400;
	font-size: 14px;

}
.caption{
	color:grey;
	font-size: 14px;
	font-family: normal 400;
	display 
}
h3{
	padding-left: 18px;
	font-size: 40px;
	color:#FF5722;
}

h4{
	padding:8px;
	background-color:#FF5722; 
}
.footer{
	background-color: black;
	padding:28px;

}
h5{
	color:white;
	font-size: 18px;
	font-family: normal 400;
}
a{
	font-size: 25px;
	padding:28px;
	color:#4E342E;
}
.show-desktop{
	display: block;

}

.show-mobile{
	display:none;
}

@media(max-width: 302px){
	.show-desktop{
		display:none;
	}
	.show-mobile{
		display:block;
	}
