.project {
	background-color: grey;
	margin-bottom: 50px;
	padding: 10px;

	border: 5px solid black;
}


.container {
	width: 900px;
	padding-right: 30px;
	padding-left: 10px;
}



body{
	background-color: white;
}


h1{
	font-size: 50px;
	margin-bottom:30px;
	background-color: grey;
}


p{
	font-family: georgia;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;

	color: #c4c4c4;
	opacity: .8;
}